* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 1vw;
  /* overflow-x: hidden; */
}


html p {
  font-family: "Hagrid Regular";
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

  font-family: "Hagrid Regular";
  font-size: 1.2rem;
}

.left {
  height: 100%;
  width: 50%;
  background-color: #F2F0E9;
}

.right {
  height: 100%;
  width: 50%;
  background-color: #111111;
}

header .left {
  height: 100%;
  width: 50%;
  background-color: #F2F0E9;
}

header .right {
  height: 100%;
  width: 50%;
  background-color: #111111;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
}

header a {
  padding-right: 3vw;
  color: #F2F0E9;
  text-decoration: none;
}

header .menu img {
  margin-left: 3vw;
  margin-top: 1vw;
  width: 20vh;
}

h1, h2 {
  font-family: "Otto Attac";
}

main .main {
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 60vw;
}

main .main h1 {
  padding-top: 12vh;
  font-size: 8rem;
  text-transform: uppercase;
  margin-left: 3vw;
}

main .left {

}

main .left h1 {
  color: #111111;
}

main .right h1 {
  color: #F2F0E9;
}

main .right h1:first-child {
  width: 10vw;
}

main #about {
  display: flex;

  justify-content: space-between;
}

main #about .pic {
  background-color: #F2F0E9;
}

main #about .pic img {
  width: 50vw;
}

main #about .text {
  background-color: #111111;
  padding-left: 4vw;
}

#about .text h2 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #F2F0E9;
  padding-bottom: 2vw;
  padding-top: 1vw;
}

#about .text p {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #F2F0E9;
  padding-bottom: 2vw;
  padding-right: 8vw;
}

#about .text a {
  font-size: 1.5rem;
  color: #23CE6B;
}
