* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 1vw;
  /* overflow-x: hidden; */
}

.video-container {
  position: absolute;
  width: 100%;
}

.video-container video {
  margin-left: 50vw;
}

html p, a {
  font-family: "Hagrid Regular";
}

header {
  position: sticky;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

  font-family: "Hagrid Regular";
  font-size: 1.2rem;
}

.left {
  height: 100%;
  width: 50%;
  background-color: #F2F0E9;
}

.right {
  height: 100%;
  width: 50%;
}

header .left {
  height: 100%;
  width: 50%;
  background-color: #F2F0E9;
}

header .right {
  height: 100%;
  width: 50%;
  /* background-color: #111111; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a {
  padding-right: 3vw;
  color: #F2F0E9;
  text-decoration: none;
}

header .menu img {
  margin-left: 3vw;
  margin-top: 1vw;
  width: 20vh;
}

h1, h2 {
  font-family: "Otto Attac";
}

/* main .images-downloader {
  margin-left: 500vw;
  overflow: hidden;
  position: absolute;
  display: none;
} */

main .main {
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 130vw;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center ;
}

.bg-left {
  height: 10vw;
  width: 50%;
  background-color: #F2F0E9;
}

.bg-right {
  height: 10vw;
  width: 50%;
  background-color: #111111;
}

main .main h1 {
  position: fixed;
  font-size: 8rem;
  text-transform: uppercase;
  margin-left: 3vw;
}

main .left h1 {
  color: #111111;
}

main .right {
  padding-top: 15vw;
  background-color: #111111;
}

main .left h1:last-child {
  color: #111111;
  padding-top: 15vw;
}

main .right h1 {
  color: #F2F0E9;
}

main .right h1:last-child {
  padding-top: 15vw;
}

main #about {
  display: flex;
  justify-content: space-between;
}

main #about .pic {
  background-color: #F2F0E9;
}

main #about .pic img {
  width: 50vw;
}

main #about .text {
  background-color: #111111;
  padding-left: 8vw;
}

#about .text h2 {
  font-size: 8rem;
  text-transform: uppercase;
  color: #F2F0E9;
  padding-bottom: 2vw;
  padding-top: 1vw;
}

#about .text p {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #F2F0E9;
  padding-bottom: 2vw;
  padding-right: 8vw;
}

#about .text a {
  font-size: 1.5rem;
  color: #23CE6B;
}

main #projects {
  display: flex;
  justify-content: space-between;
}

#projects .text {
  background-color: #F2F0E9;
  width: 50%;
}

#projects .text h2 {
  font-size: 8rem;
  text-transform: uppercase;
  color: #111111;
  padding-bottom: 2vw;
  padding-top: 10vw;
  padding-left: 3vw;
}

.text .images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
}

.mts, .grimes, .church, .eat, .bloowery, .prelab {
  margin-bottom: -28vw;
}

.mts, .grimes, .church, .eat, .bloowery, .prelab, .skryabin {
  opacity: 0;
}

#projects .cases {
  background-color: #111111;
  width: 50%;
}

#projects .cases ul {
    padding-top: 25vw;
    padding-left: 8vw;
    padding-bottom: 10vw;
}

#projects .cases li {
  padding-bottom: 6vw;
}

#projects .cases a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #F2F0E9;
}

#contacts .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  background-color: #FF621F;
  height: 10vw;
}

#contacts .links a {
  color: #111111;
  font-size: 1.5rem;
  text-decoration: none;
}

#contacts .first, .behance, .instagram, .telegram, .email, .final {
  width: 18vw;
  height: 10vw;
  background-color: #F8BAD1;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding-top: 5vw;
  background-color: #FF621F;
  height: 3vw;
}

footer p {
  color: #111111;
  padding-left: 3vw;
}

/* custom cursor */
@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
  }

  #cursor .cursor--inner {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: solid 0.1vw #111111;
  }
}

#projects a {
  color: #F2F0E9;
  text-transform: none;
  text-decoration: none;
  /* letter-spacing: 0.15em; */

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#projects a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F2F0E9;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#projects a:hover:after {
  width: 100%;
  left: 0;
}

#contacts a {
  color: #F2F0E9;
  text-transform: none;
  text-decoration: none;
  /* letter-spacing: 0.15em; */

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#contacts a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #111111;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#contacts a:hover:after {
  width: 100%;
  left: 0;
}
